// Buttons styles

.intracorp-btn {
    transition: all 0.125s;
    padding: 16px 40px 13px;
    background-color: $body-background-color;
    text-transform: uppercase;
    color: $body-font-color;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid $body-border-color;
    &:hover {
        background-color: $body-font-color;
        border: 1px solid $body-font-color;
        color: $body-background-color;
    }
    &.-no-hover {
        &:hover {
            background-color: #212a2e;
            color: white;
        }
    }
    @media (max-width: $breakpoint-phablet) {
        font-size: 16px;
    }
    @media (max-width: $breakpoint-phone) {
        font-size: 15px;
    }
}

.btn-margin-right {
    margin-right: 10px;
}
