// general global styles
body {
    color: white;
    font-size: 20px;
    font-family: San Francisco,Roboto,sans-serif;
    background: black url(../images/backgrounds/bg-body.jpg) 50% 0;
    overflow-x: hidden;
    @media (max-width: $breakpoint-phablet) {
        font-size: 18px;
    }
}



