// insider styles

.insider-bio__col {
    float: left;
    width: 33.3%;
    margin-top: 20px;
    @media (max-width: $breakpoint-nav) {
        width: 50%;
    }
    &.-long {
        width: 66.6%;
        @media (max-width: $breakpoint-nav) {
            width: 50%;
        }
    }
    p {
        font-size: 30px;
        color: $body-font-color-light;
    }
}