// layout styles

header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid $body-border-color;
}

.main-body {
    width: 100%;
}

.section-insider {
    max-width: 1150px;
    margin: 100px auto 0;
    padding: 0 25px;
    @media (max-width: $breakpoint-phone) {
        padding: 0 15px;
    }
}

.section-intro__buttons {
    margin-top: 30px;
    @media (max-width: $breakpoint-nav) {
        text-align: center;
        .intracorp-btn {
            width: 30%;
            margin: 0 5px 10px;
        }
    }
    @media (max-width: $breakpoint-phablet) {
        text-align: center;
        .intracorp-btn {
            width: auto;
            display: block;
            margin: 0 0 10px;
        }
    }
}

.table-container {
    overflow: hidden;
    overflow-x: auto;
}