// globals

// breakpoints
$breakpoint-phone: 490px;
$breakpoint-tablet: 778px;
$breakpoint-phablet: 640px;
$breakpoint-nav: 875px;
$breakpoint-air: 992px;
$breakpoint-big-tablet: 1080px;

// branded colors
$body-background-color: #ffffff;
$body-font-color-heading: #000000;
$body-font-color: #010101;
$body-border-color: #d7d8d9;
$body-table-border-color: #231f20;
$body-font-color-light: #c4c5c7;

// action colors

// font sizes