// globals

// breakpoints
$breakpoint-phone: 490px;
$breakpoint-tablet: 778px;
$breakpoint-phablet: 640px;
$breakpoint-nav: 765px;
$breakpoint-air: 992px;
$breakpoint-big-tablet: 1080px;

// branded colors

// action colors

// font sizes