// common typography styles

h1 {
    margin-bottom: 10px;
    color: $body-font-color-heading;
    font-size: 50px;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: $body-font-color-light;
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid $body-font-color-heading
}

h3 {
    font-family: FaktPro-Semibold,sans-serif;
    color: $body-font-color;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    color: $body-font-color;
    line-height: 1.4;
    a {
        color: #5c6369;
    }
}
